@model IEnumerable<CategoriesHomeServiceModel>
@{
    ViewData["Title"] = "Home Page";
}


<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                @foreach (var cat in Model)
                {
                    <div class="card col-md-4 thumbnail">
                        <img class="card-image-top img-responsive"
                             src="@cat.ImageUrl">
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <a asp-area="" asp-controller="Categories" asp-action="AdsByCategory" asp-route-id="@cat.Id">@cat.Name</a>
                            </h4>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
